<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Apply ColorFlow's Colors To:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>timeDateColorFlow</string>
			<key>label</key>
			<string>Time And Date</string>
			<key>PostNotification</key>
			<string>love.litten.dresspreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>faceIDLockColorFlow</string>
			<key>label</key>
			<string>FaceID Lock</string>
			<key>PostNotification</key>
			<string>love.litten.dresspreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>homebarColorFlow</string>
			<key>label</key>
			<string>Homebar</string>
			<key>PostNotification</key>
			<string>love.litten.dresspreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>pageDotsColorFlow</string>
			<key>label</key>
			<string>Page Dots</string>
			<key>PostNotification</key>
			<string>love.litten.dresspreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>unlockTextColorFlow</string>
			<key>label</key>
			<string>Unlock Text</string>
			<key>PostNotification</key>
			<string>love.litten.dresspreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>quickActionsColorFlow</string>
			<key>label</key>
			<string>Quick Actions</string>
			<key>PostNotification</key>
			<string>love.litten.dresspreferences/ReloadPrefs</string>
		</dict>

	</array>
	<key>title</key>
	<string>Dress</string>
</dict>
</plist>
