<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
	
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Hiding</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>hideUnlockText</string>
			<key>label</key>
			<string>Hide Unlock Text</string>
			<key>PostNotification</key>
			<string>love.litten.dresspreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>hideCCGrabber</string>
			<key>label</key>
			<string>Hide CC Grabber</string>
			<key>PostNotification</key>
			<string>love.litten.dresspreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>CC Grabber Alpha - Opacity</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1.0</real>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>ccGrabberAlpha</string>
			<key>min</key>
			<real>0.0</real>
			<key>max</key>
			<real>1.0</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
			<key>PostNotification</key>
			<string>love.litten.dresspreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Custom Text</string>
			<key>footerText</key>
			<string>Leave Empty For Default Text</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>placeholder</key>
			<string>Hello There!</string>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>label</key>
			<string>Custom Text:</string>
			<key>key</key>
			<string>unlockText</string>
			<key>PostNotification</key>
			<string>love.litten.dresspreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Last Time Unlocked</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>lastTimeUnlocked</string>
			<key>label</key>
			<string>Last Time Unlocked</string>
			<key>PostNotification</key>
			<string>love.litten.dresspreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>prefersLastTimeLocked</string>
			<key>label</key>
			<string>Prefer Last Time Locked</string>
			<key>PostNotification</key>
			<string>love.litten.dresspreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>lastTimeUnlocked24h</string>
			<key>label</key>
			<string>Use 24h Clock</string>
			<key>PostNotification</key>
			<string>love.litten.dresspreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>lastTimeUnlockedAMPM</string>
			<key>label</key>
			<string>Show am/pm</string>
			<key>PostNotification</key>
			<string>love.litten.dresspreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>lastTimeUnlockedDate</string>
			<key>label</key>
			<string>Show Date</string>
			<key>PostNotification</key>
			<string>love.litten.dresspreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>lastTimeUnlockedOnlyTimeAndDate</string>
			<key>label</key>
			<string>Show Only Time And Date</string>
			<key>PostNotification</key>
			<string>love.litten.dresspreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>lastTimeUnlockedSeconds</string>
			<key>label</key>
			<string>Show Seconds</string>
			<key>PostNotification</key>
			<string>love.litten.dresspreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Network</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>ipAddress</string>
			<key>label</key>
			<string>IP-Address</string>
			<key>PostNotification</key>
			<string>love.litten.dresspreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Weather</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>weatherCondition</string>
			<key>label</key>
			<string>Condition</string>
			<key>PostNotification</key>
			<string>love.litten.dresspreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.dresspreferences</string>
			<key>key</key>
			<string>weatherTemperature</string>
			<key>label</key>
			<string>Temperature</string>
			<key>PostNotification</key>
			<string>love.litten.dresspreferences/ReloadPrefs</string>
		</dict>

	</array>
	<key>title</key>
	<string>Dress</string>
</dict>
</plist>
